$enable-shadows : true;
$enable-transitions : true;

$blue : #3c6aa4;

$gray-800 : #343a40;

$link-color : $gray-800;

/* button */
$input-btn-focus-width : 0px;
$btn-active-box-shadow : 0 0 0 2px rgba(white, 0.5);